<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.url">jdbc:mariadb://%ip%:%port%/test</property>
        <property name="connection.username">%user%</property>
        <property name="connection.password">%password%</property>
        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <mapping class="de.foellix.devstudy.webservice.dbconnections.DB_Survey"/>
        <mapping class="de.foellix.devstudy.webservice.dbconnections.Results"/>
        <mapping class="de.foellix.devstudy.webservice.dbconnections.UserWithSameID"/>
    </session-factory>
</hibernate-configuration>